{% block google_recaptcha_widget %}
{% apply spaceless %}
  {% if form.vars.google_recaptcha_enabled %}
    <script src="{{ form.vars.google_recaptcha_api_uri }}?render={{ form.vars.public_key }}"></script>

    {% if form.vars.google_recaptcha_hide_badge %}
      <link rel="stylesheet" href="{{ asset('/bundles/xngagegooglerecaptcha/css/recaptcha.css') }}">
    {% endif %}

    <script{% if form.vars.script_nonce_csp is defined and form.vars.script_nonce_csp is not same as('') %} nonce="{{ form.vars.script_nonce_csp }}"{% endif %}>
      grecaptcha.ready(function () {
        grecaptcha.execute('{{ form.vars.public_key }}', { action: '{{ form.vars.action_name|default(constant('Xngage\\Bundle\\GoogleRecaptchaBundle\\Form\\Type\\GoogleRecaptchaV3Type::DEFAULT_ACTION_NAME')) }}' }).then(function (token) {
          var recaptchaResponse = document.getElementById('{{ id }}');
          recaptchaResponse.value = token;
        });
      });
    </script>

    {{ form_label(form) }}
    {{ form_widget(form) }}
  {% endif %}
{% endapply %}
{% endblock %}
